.home-container {
  display: flex;
  position: relative; /* Allow positioning of the overlay */
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  left: -350px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #0a1a31;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 2; /* Keep the sidebar above the overlay */
}

.sidebar.open {
  left: 0;
  background-color: #0a1a31;
}

.sidebar h2 {
  margin-top: 0;
  color: #ffffff;
  font-size: 2rem;
}

.sidebar h3 {
  color: #F4C55B;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar a {
  color: #ffffff;
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar a:hover {
  color: #646cff;
}

.sidebar-toggle {
  position: absolute; /* Change from fixed to absolute or relative */
  top: -50px; /* Adjust top if needed */
  left: 0px; /* Adjust left if needed */
  padding: 0px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 3%;
  height: 4.5%;
  font-size: 2rem;
}

.sidebar-toggle:hover {
  border: none;
}

/* New styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
  z-index: 1; /* Ensure the overlay is behind the sidebar but above other content */
}

/* Apply blur to the background content when the sidebar is open */
.home-container.blur-background {
  filter: blur(5px); /* Apply blur to the content behind the sidebar */
  transition: filter 0.3s ease-in-out;
}

/* Optional: Style the content that is behind the sidebar */
.main-content {
  margin-left: 20px;
  padding: 20px;
  flex-grow: 1;
}
