
  .news-search-button:disabled {
    opacity: 0.5;
  }

  /* Styling the search button */
  .news-search-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #F4C55B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px 0;
    border: 1px solid #F4C55B;
  }
  
  /* Button hover effect */
  .news-search-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  
  /* Button disabled state */
  .news-search-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
/* Styling for the loading state */
  .loading-spinner {
    border: 4px solid #f3f3f3; /* Light grey background */
    border-top: 4px solid #3498db; /* Blue color for spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-top: 10px;
  }
  
  /* Animation for spinner */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .news-title-holder{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Loading and error message */
  p {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  /* Styling the error message */
  p[style="color: red"] {
    color: red;
    font-weight: bold;
  }
  
  /* Responsive Design - for smaller screens */
  @media (max-width: 768px) {
    input[type="text"], select, button {
      width: 100%;
      max-width: 300px;
    }
  }
.news-table-container{
    margin: 0;
    padding: 0;
}
  
  table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    table-layout: fixed; /* Ensures columns are evenly distributed */
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #212429;
    color: white;
  }
  th:nth-child(2){
    width: 60%;
  }
  
td{
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
    padding: 20px 15px;
}
td a{
    color: #ffffff;
}
td img{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
  h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
  }
  
  
  .pagination .prev-button:hover, .pagination .next-button:hover{
    background-color: #2980b9;

  }
  .pagination .prev-button{
    margin-right: 20px;
  }
  .pagination .next-button{
    margin-left: 20px;
    
  }