@import "tailwindcss";

@theme {
  --color-yellow-100: #F4C55B;
  --color-blue-100: #3498db;
  --color-blue-200: #2980B9;
  --color-blue-300: #646CFF;
  --color-white-100: #F6F8FA;
  --color-black-100: #151724;
  --color-gray-100: #F3F3F3;
  --color-red-100: #FF0000;
  --color-shadow-100: #C7C7C7;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a1a31;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 5em auto 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 95%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  width: 100%;
  margin: 0;
  text-align: left;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Responsive Design - for smaller screens */
@media (max-width: 768px) {
  input[type="text"], select, button {
    width: 100%;
    max-width: 300px;
  }
}

/* Styling the input field */
input[type="text"] {
  padding: 12px;
  width: 300px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  transition: border 0.3s ease;
  background-color: #ffffff;
  color: #212429;
}

/* Focus state for input */
input[type="text"]:focus {
  border: 1px solid #3498db;
  outline: none;
}

/* Styling the select dropdown */
select {
  padding: 12px;
  width: 320px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 10px 0;
  transition: border 0.3s ease;
  background-color: #ffffff;
  color: #212429;
}

/* Focus state for select */
select:focus {
  border: 1px solid #3498db;
  outline: none;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #212429;
  color: white;
}

td{
  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding: 20px 15px;
}

td img{
  width: 50px;
  height: 50px;
  background-color: #fff;
}