@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-yellow-100: var(--base-yellow);
  --color-blue-100: var(--base-blue);
  --color-blue-200: #2980b9;
  --color-blue-300: var(--link-blue);
  --color-blue-400: #1976d2;
  --color-blue-500: #84b5e6;
  --color-blue-600: var(--dark-bg);
  --color-blue-700: #060f1d;
  --color-white-100: var(--white-bg);
  --color-black-100: #151724;
  --color-gray-100: #f3f3f3;
  --color-red-100: #ff0000;
  --color-shadow-100: #c7c7c7;
  --color-shadow-200: #000000;
}

:root {
  --white-bg: #f6f8fa;
  --dark-bg: #091a31;
  --base-black: #213547;
  --base-blue: #3498db;
  --link-blue: #646cff;
  --link-hover-blue: #747bff;
  --base-yellow: #f4c55b;

  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--base-black);
  background-color: var(--white-bg);
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #0a1a31; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td a {
  font-weight: 500;
  color: var(--link-blue);
  text-decoration: inherit;
}

td a:hover {
  color: var(--link-hover-blue);
  /* color: #535bf2; */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--white-bg);
}

h1 {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 1.1;
  width: 100%;
  margin: 0;
  text-align: left;
}

h2 {
  text-align: center;
}

/* Responsive Design - for smaller screens */
@media (max-width: 768px) {
  input[type='text'],
  select,
  button {
    width: 100%;
    max-width: 300px;
  }
}

/* Styling the input field */
input[type='text'] {
  padding: 12px;
  width: 300px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  transition: border 0.3s ease;
  background-color: #ffffff;
  color: #212429;
}

/* Focus state for input */
input[type='text']:focus {
  border: 1px solid var(--base-blue);
  outline: none;
}

/* Styling the select dropdown */
select {
  padding: 12px;
  width: 320px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 10px 0;
  transition: border 0.3s ease;
  background-color: #ffffff;
  color: #212429;
}

/* Focus state for select */
select:focus {
  border: 1px solid var(--base-blue);
  outline: none;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #212429;
  color: white;
}

td {
  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding: 20px 15px;
  word-wrap: break-word;
}

.dark td {
  border-bottom: 1px solid var(--base-yellow);
  border-top: 1px solid var(--base-yellow);
}

td img {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
